{"name":"ExpoProject","slug":"ExpoProject","version":"1.0.0","orientation":"portrait","icon":"./assets/images/icon.png","scheme":"myapp","userInterfaceStyle":"automatic","splash":{"image":"./assets/images/splash.png","resizeMode":"contain","backgroundColor":"#ffffff"},"updates":{"fallbackToCacheTimeout":0},"assetBundlePatterns":["**/*"],"ios":{"supportsTablet":true,"bundleIdentifier":"com.beatjs.expo.project"},"android":{"adaptiveIcon":{"foregroundImage":"./assets/images/adaptive-icon.png","backgroundColor":"#ffffff"},"package":"com.beatjs.expo.project"},"web":{"favicon":"./assets/images/favicon.png"},"sdkVersion":"41.0.0","platforms":["ios","android","web"],"currentFullName":"@liamxujia/ExpoProject"}