name: iOS CI

on:
  push:
    branches: 
      - main
  pull_request:
    branches:
      - '*'

jobs:
  iOS:
    runs-on: macos-latest
    env:
      DEVELOPER_DIR: /Applications/Xcode_12.4.app/Contents/Developer
    strategy:
      matrix:
        destination: ["OS=12.4,name=iPhone 12 Pro"] #, "OS=12.4,name=iPhone XS", "OS=11.4,name=iPhone X", "OS=10.3.1,name=iPhone SE"]
    steps:
    - uses: actions/checkout@v2
    - name: CocoaPods install
      run: | 
        pod --version
        cd example
        pod install --repo-update
