name: ios

on:
  push:
    branches: 
      - main
  pull_request:
    branches:
      - '*'

jobs:
  iOS:
    runs-on: macos-latest
    env:
      DEVELOPER_DIR: /Applications/Xcode_12.4.app/Contents/Developer
    strategy:
      matrix:
        destination: ["OS=14.4,name=iPhone 12 Pro"] #, "OS=12.4,name=iPhone XS", "OS=11.4,name=iPhone X", "OS=10.3.1,name=iPhone SE"]
    steps:
    - uses: actions/checkout@v2
    - name: Install CocoaPods
      run: brew install cocoapods
    - name: Pod lib lint
      run: pod lib lint react-ios.podspec --allow-warnings --verbose --no-clean
